/* This file is the stylesheet for our program */
* {
    -lightGreen: #b5d9ad;
    -green: rgba(25, 129, 29, 0.65);
    -darkGreen: rgba(8, 87, 12, 0.64);
    -lightRed: rgba(179, 38, 34, 0.8);
    -darkRed: rgba(136, 27, 19, 0.75);
    -lightBlue: rgba(31, 28, 149, 0.75);
    -darkBlue: rgba(16, 15, 123, 0.75);
    -lightGrey: #f4f4f4;
    -grey: #ffffff;
}


.teamname{
    -fx-font-size: 16px;
    -fx-text-fill: -green;
    -fx-font-weight: bold;
}

.window{
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-background-color: #ededed;
}
.header {
    -fx-background-color: #ffffff;
    -fx-pref-height: 70px;
}

.teamHeader{
    -fx-pref-height: 70px;
}

.headerText{
    -fx-font-family: "Montserrat";
    -fx-text-fill: rgba(35, 159, 35, 0.81);
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

.pageheadline{
    -fx-font-size: 24;
    -fx-text-fill: -green;
    -fx-font-weight: bold;
    -fx-border-radius: 0;
}

.pageheadlineYellow{
    -fx-font-size: 24;
    -fx-text-fill: #ecd844;
    -fx-font-weight: bold;
    -fx-border-radius: 0;
}

.pageheadlineRed {
    -fx-font-size: 24;
    -fx-padding-left: 20;
    -fx-text-fill: -lightRed;
    -fx-font-weight: bold;
    -fx-border-radius: 0;
}

.menubar{
    -fx-min-width: 200px;
    -fx-background-color: -grey;
}

.buttonApprove{
    -fx-background-color: -green;
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
}

.buttonApprove:hover{
    -fx-background-color: -darkGreen;
}

.buttonCancel{
    -fx-background-color: -lightRed;
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
}

.buttonCancel:hover{
    -fx-background-color: -darkRed;
}

.menubarButton{
    -fx-pref-height: 55px;
    -fx-padding-left: 10px;
    -fx-background-color: -grey;
    -fx-text-fill: -green;
}

.menubarButton:hover{
    -fx-pref-height: 55px;
    -fx-padding-left: 20px;
    -fx-background-color: -lightGreen;
    -fx-text-fill: -green;
    -fx-font-weight: bold;
    -fx-border-radius: 0;
}

.selectedmenu{
    -fx-pref-height: 55px;
    -fx-border-style: solid;
    -fx-background-color: -grey;
    -fx-border-color: transparent -green transparent transparent;
    -fx-border-width: 5px;
    -fx-font-weight: bold;
    -fx-text-fill: -green;
}

.menuSeparator{
    -fx-pref-height: 6px;
}

.menuButtonSeparator{
    -fx-pref-width: 180px;
    -fx-max-width: 180px;
    -fx-pref-height: 3px;
}

.selectedmenu:hover{
    -fx-border-style: solid;
    -fx-background-color: #b5d9ad;
    -fx-border-width: 5px;
    -fx-border-color: transparent -green transparent transparent;
    -fx-font-weight: bold;
    -fx-text-fill: -green;
}

.table-row-cell {
    -fx-text-fill: #FFFFFF !important;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-text-fill: #FFFFFF !important;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #b5d9ad;
}

.table-row-cell:empty {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-text-fill: #FFFFFF !important;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: -lightGreen;
}

.table-column{
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-text-weight: none;
}

.headerVisibility .column-header-background{
    visibility: hidden;
}


.scrollBarVisibility .scroll-bar:horizontal{
    visibility: hidden;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-focus-color: none;
}

.column-header-background {
    -fx-background-color: -green;
    -fx-text-fill: #FFFFFF !important;
    -fx-border-color: none;
    -fx-focus-color: none;
}

.column-header .label{
    -fx-text-fill: #FFFFFF !important;
}

.tabYellowCard{
    -fx-background-color: rgba(255, 227, 25, 0.31);
    -fx-text-fill: black;
    -fx-pref-width: 90px;
}

.tabYellowCard:hover{
    -fx-background-color: rgba(255, 227, 119, 0.3);
}

.tabYellowCard:selected{
    -fx-background-color: #eff196;
}

.tabRedCard{
    -fx-background-color: rgba(171, 70, 66, 0.31);
    -fx-text-fill: black;
    -fx-pref-width: 90px;
}

.tabRedCard:hover{
    -fx-background-color: rgba(192, 116, 113, 0.31);
}

.tabRedCard:selected{
    -fx-background-color: #c07471;
}

.greenButton{
    -fx-background-color: -green;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
}

.redButton{
    -fx-background-color: -lightRed;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
}

.redButton:hover{
    -fx-background-color: -darkRed;
}

.greenButton:hover{
    -fx-background-color: -darkGreen;
}

.choice-box:hover {
    -fx-cursor: hand;
}
.choice-boxOther .label{
    -fx-text-fill: black !important;
}

.choice-boxOther:hover {
    -fx-cursor: hand;
}

.choice-box .label {
    -fx-text-fill: white;
}

.choice-box .menu-item .label {
    -fx-text-fill: black;
}
.lineupButton{
    -fx-background-color: -green;
    -fx-pref-width: 274px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
}

.lineupButton:hover{
    -fx-background-color: -darkGreen;
}

.utilityButtons{
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
    -fx-background-color: -lightBlue;
}

.utilityButtons:hover {
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
    -fx-background-color: -darkBlue;
}

.overviewButtons{
    -fx-pref-width: 120px;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
    -fx-background-color: #383838;
}

.overviewButtons:hover {
    -fx-background-color: black;
}

.overviewHeadline{
    -fx-font-size: 18;
}

.overviewText{
    -fx-font-weight: bold;
}

.calenderDate{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
.textField{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0.3;
}

.headerTextField{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -green transparent;
    -fx-border-width: 1;
}

.list-view{
    -fx-background-color: #e8e8e8;
    -fx-border-color: #d8d8d8;
}

.labelHyperlink{
    -fx-text-fill: #585858;
    -fx-font-size: 9px;
}

.labelHyperlink:hover{
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-text-fill: #787878;
}

.hyperlink {
    -fx-text-fill: -green;
}

.calender-hbox {
    -fx-background-color: -green;
}